html, body {
	background-color: skyblue;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cardRow {
	height: 25%;
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	
}
.cell {
	height: 90%;
	width: 15%;
}
.cardImg {
	height: 100%;
	width: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
	perspective: 500px;
}
.cardImgFront {
	backface-visibility: hidden;
	transform: rotateY(180deg);
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.cardImgBack {
	backface-visibility: hidden;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.timer {
	position: absolute;
	bottom: 6%;
	right: 5%;
	font-size: 40px;
	font-family: helvetica;
	color: white;
}
.overlay {
    	background-color: rgba(1, 1, 1, 0);
    	bottom: 0;
    	left: 0;
    	position: fixed;
    	right: 0;
    	top: 0;
}
#endText {
	color: white;
	font-size: 40px;
	font-family: helvetica;
}
#buttonReload {
	background-color: lightblue;
	color: white;
	font-size: 20px;
	margin: 15px 32px;
	border: none;
}
