body{
	width: 780px ;
	margin: auto ;
	border: 2px solid #6d7d96 ;
	background-color: #233D9A ;
	font-family:Marker Felt ;
	display: block;
    	margin-left: auto;
    	margin-right: auto;
}
.titre{
	color: green;
	font-family: Lucida Handwriting;
}
#conteneur2{
	position: relative;
}
.coucou{
	font-family: Lucida Handwriting ;
	color: white;
}
.police{
	text-align: center;
	font-family: monospace;
	font-size: 100px;
	color: #CDB1DE;
	
}
button{
	display: block;
	margin: auto;
	background-color: #6D469A; 
    	border: none;
    	color: #1EA2D1;
    	padding: 15px 32px;
    	text-align: center;
    	text-decoration: none;
    	font-size: 16px;
}
.commencez{
	text-align: center;
	font-family: monospace;
	font-size: 40px;
	color: #CDB1DE;
}